.main {
	margin-top: 100px;
}

.main__wrapper {
	max-width: 1390px;
	padding: 0 15px 0 25px;
	margin: 0 auto;
}

.slider {
	position: relative;
	max-width: 100%;
	height: 305px;
	margin: auto;
	overflow: hidden;
	border-radius: 10px;
}

.slider__slides {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.slider__slide {
	overflow: hidden;
	background: var(--color-gradient);
	color: #fff;
	border-radius: 10px;
}

.slider__content {
	height: 305px;
	padding: 24px 0 24px 26px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	overflow: hidden;
	background-size: cover; 
	background-position: top;
	background-repeat: no-repeat; 
}

.slider__slide:nth-of-type(1) .slider__content {
	background-image: url('/assets/images/bannerSlider.png');
}

.swiper-slide:nth-of-type(2) .slider__content {
    background: linear-gradient(135deg, #001f4d, #004080, #002f6c);
}

.slider__bonus {
	margin-bottom: 24px;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
}

.slider__heading {
	margin-bottom: 8px;
	font-weight: 600;
	font-size: 32px;
}

.slider__paragraph {
	font-weight: 400;
	font-size: 16px;
}

.slider__button {
	padding: 6px 10px;
	border-radius: 6px;
	background-color: rgba(255, 255, 255, 0.15);
	display: inline-block;
	cursor: pointer;
	transition: var(--transition);
}

.slider__button:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.slider__image {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	z-index: -1;
	transition: var(--transition);
}

.slider__pagination {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.slider__pagination-bullet {
	height: 10px;
	width: 10px;
	margin: 0 5px;
	opacity: 0.15;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
}

.slider__pagination-bullet--active {
	width: 30px;
	height: 10px;
	border-radius: 500px;
	opacity: 1;
	background-color: #fff;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-pagination {
	left: 50% !important;
}

.slider__swiper-pagination {
	margin-top: 10px;
}

.swiper-pagination-bullet {
	background-color: var(--white) !important;
	width: 25px !important;
	height: 5px !important;
	opacity: 0.1 !important;
	border-radius: 4px !important;
}

.swiper-pagination-bullet-active {
	opacity: 1 !important;
	width: 25px !important;
	height: 5px !important;
	border-radius: 4px !important;
}

@media (max-width: 760px) {
	.swiper-pagination-bullet {
		background-color: var(--white) !important;
		width: 6px !important;
		height: 6px !important;
		opacity: 0.1 !important;
	}
	
	.swiper-pagination-bullet-active {
		opacity: 1 !important;
		width: 18px !important;
		height: 6px !important;
		border-radius: 4px !important;
	}
	.slider__bonus {
		margin-bottom: 12px;
	}
	.slider__heading {
		font-size: 24px;
	}
	.main__slider {
		height: 210px;
	}
	.slider__content {
		height: 210px;
	}
	.slider__content img{
		right: -200px;
	}
}
@media (max-width: 375px) {
	.slider {
		height: 175px;
	}
	.slider__content {
		padding: 12px 0 12px 12px;
		height: 150px !important;
	}
	.swiper-pagination-bullet {
		height: 6px !important;
		width: 6px !important;
	}
	.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
	.swiper-pagination-horizontal.swiper-pagination-bullets
		.swiper-pagination-bullet {
		margin: 0 2px !important;
	}
	.slider__slide {
		border-radius: 8px;
	}
	.slider__bonus {
		font-size: 12px;
		margin-bottom: 12px;
	}
	.slider__heading {
		font-size: 18px;
	}
	.slider__paragraph {
		font-size: 12px;
	}
	.slider__button {
		display: none;
	}
	.slider__image {
		right: -150px;
	}
}
